@font-face { 
    font-family: 'Aicho Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Aicho Regular'), url('../../../assets/fonts/AichoRegular-BW1dd.woff') format('woff');
  }
  
  .font-archivo {
    font-family: 'Aicho Regular', sans-serif;
  }

.container {
    background-color: #FF9433;
    height: 100%;
    margin: 0 auto;
}

.inner-wrapper {
    width: 100%;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    height: 40vh;
}

.card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.card-text {
    text-align: center;
    margin: auto;

    h1 {
        background-color: #FF9433;
        color: white;
        margin: 0;
        padding: 5px 30px;
        border-radius: 25px;
        display: inline-block;
        font-family: 'Aicho Regular', sans-serif;
    }
}

mat-card-subtitle {
    text-align: center;
    font-size: 2rem;
    margin-top: 25px;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.gd-content,
.en-content {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin: 10px 0;
}

.explore-neighbourhood {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.title-texts {
    margin-left: 20px;
}

.en-content {
    margin-top: 20px;
}

.en-images {
    display: inline-block;
    width: 700px;
    height: 300px;
    margin-right: 25px;
    background-color: white;
    border-radius: 25px;

    @media (max-width: 768px) {
        width: 250px;
        height: 320px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;

        @media (max-width: 768px) {
            height: 50%;
        }
    }
}