<div class="container">
    <div class="inner-wrapper">
        <mat-card class="card" appearance="outlined">
            <div class="card-content-wrapper">
                <div class="card-text font-archivo">
                    <h1>{{display_fisrt_char(name)}}</h1>
                    <h2>Jeeyun Jung</h2>
                </div>
            </div>
        </mat-card>
        <div class="explore-neighbourhood">
            <div class="title-texts">
                <span class="font-archivo">My activity</span>
            </div>
            <div class="en-content">
                <div class="en-images" *ngFor="let activity of my_activities">
                    <img [src]="activity.src" [alt]="activity.alt" />
                </div>
            </div>
        </div>
        <app-tab-bar-view></app-tab-bar-view>
    </div>
</div>