<div class="container">
    <div class="inner-wrapper">
        <div class="location-container">
            <div>
                <span class="location-icon">
                    <i class="fa fa-map-marker"></i>
                </span>
                <span class="location-text">Park, Toronto</span>
            </div>
            <div class="location-subtext">within 10km</div>
        </div>
        <div class="good-deals">
            <div class="title-texts">
                <span>Good Deals</span>
                <span class="see-all">See all ></span>
            </div>
            <div class="gd-content">
                <div class="gd-images" *ngFor="let deal of good_deals">
                    <div>
                        <p>{{deal.title}}</p>
                    </div>
                    <div class="gd-img-content">
                        <img [src]="deal.src" [alt]="deal.alt" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>