@font-face { 
  font-family: 'Aicho Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Aicho Regular'), url('../../../assets/fonts/AichoRegular-BW1dd.woff') format('woff');
}

.font-archivo {
  font-family: 'Aicho Regular', sans-serif;
}

.image {
  background-image: url('../../../../public/assets/map.jpg');
}

.card {
  width: 90%;
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  position: fixed;
  bottom: 120px;
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin: 20px;

  div {
    width: 50%;
    text-align: center;
    margin: auto;
  }
}

.text-content {
  font-size: large;
  line-height: 1.5rem;
}

.card img {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 30%;
  height: auto;

  @media (max-width: 768px) {
    width: 50%;
  }
}

.cta-btn {
  margin: 0 20px 20px 20px;

  button {
    width: 100%;
    padding: 10px 0px;
    background-color: #FF9433;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Aicho Regular', sans-serif;
  }

  button:hover {
    background-color: #ff9800;
  }
}