<div class="container">
  <div class="inner-wrapper">

    <div class="location-container">
      <div>
        <span class="location-icon">
          <i class="fa fa-map-marker"></i>
        </span>
        <span class="location-text">Park, Toronto</span>
      </div>
      <div class="location-subtext">within 10km</div>
    </div>

    <div class="search-bar">
      <input [(ngModel)]="search_term" type="text" placeholder="Toronto, ON" />
      <span class="search-icon">
        <i class="fa fa-search"></i>
      </span>

      <ul *ngIf="search_term && filtered_suggestions.length > 0" class="autocomplete-list">
        <li *ngFor="let suggestion of filtered_suggestions" (click)="on_search()">
          {{ suggestion }}
        </li>
      </ul>
    </div>

    <div class="good-deals">
      <div class="title-texts">
        <span class="font-archivo">Good Deals</span>
        <span class="see-all">See all ></span>
      </div>
      <div class="gd-content">
        <div class="gd-images" *ngFor="let deal of good_deals">
          <div>
            <p>{{deal.title}}</p>
          </div>
          <div class="gd-img-content">
            <img [src]="deal.src" [alt]="deal.alt" />
          </div>
        </div>
      </div>
    </div>

    <div class="explore-neighbourhood">
      <div class="title-texts">
        <span class="font-archivo">Explore the Neighborhood</span>
        <span class="see-all">See all ></span>
      </div>
      <div class="en-content">
        <div class="en-images" *ngFor="let neighborhood of explore_neighborhood">
          <img [src]="neighborhood.src" [alt]="neighborhood.alt" />
        </div>
      </div>
    </div>
    <app-tab-bar-view></app-tab-bar-view>
  </div>
</div>