<div class="container">
    <div class="inner-wrapper">
        <div class="header">
            <h1 class="title">{{ good_deals[currentIndex].title }}</h1>
            <p class="description">{{ good_deals[currentIndex].description }}</p>
        </div>
        <div class="gd-img-content">
            <div><mat-icon class="arrow left" (click)="navigate(-1)">keyboard_arrow_left</mat-icon></div>
            <div> <img [src]="good_deals[currentIndex].src" [alt]="good_deals[currentIndex].alt" /></div>
            <div><mat-icon class="arrow right" (click)="navigate(1)">keyboard_arrow_right</mat-icon></div>
        </div>
    </div>
    <button class="start-button" (click)="on_get_it()">LET'S GET IT!</button>
</div>