@font-face { 
  font-family: 'Aicho Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Aicho Regular'), url('../../../assets/fonts/AichoRegular-BW1dd.woff') format('woff');
}

.font-archivo {
  font-family: 'Aicho Regular', sans-serif;
}

.container {
  height: 100vh;
}

.image {
  background-image: url('../../../../public/assets/start.png');
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  color: black;
  margin: 0;
}

.start-button {
  position: absolute;
  bottom: 60px;
  width: 90%;
  max-width: 300px;
  padding: 15px 20px;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-family: 'Aicho Regular', sans-serif;
}

.start-button:hover {
  background-color: darkgray;
}