<div class="container">
  <div class="tab-bar">
    <div (click)="on_discount()" class="tab-icon" [ngClass]="{'active-tab': this.selected_tab === 'discount'}">
      🌎
    </div>
    <div (click)="on_search()" class="tab-icon" [ngClass]="{'active-tab': this.selected_tab === 'search'}">
      🔍
    </div>
    <div (click)="on_product()" class="tab-icon" [ngClass]="{'active-tab': this.selected_tab === 'product'}">
      ⭐
    </div>
    <div (click)="on_community()" class="tab-icon" [ngClass]="{'active-tab': this.selected_tab === 'community'}">
      💖
    </div>
    <div (click)="on_profile()" class="tab-icon" [ngClass]="{'active-tab': this.selected_tab === 'my-page'}">
      🙍‍♂️
    </div>
  </div>
</div>